<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-white" id="sidebar-wrapper">
    <div
      class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom"
    >
      <i class="fa-solid fa-circle-user me-2 fs-2"></i><br /><br />
      <span> Alumno </span>
    </div>
    <div class="list-group list-group-flush my-3">
      <a class="list-group-item list-group-item-action fw-bold fs-5">
        Carrera : {{ carrera }}</a
      >
      <a
        routerLink=" "
        class="list-group-item list-group-item-action bg-transparent second-text active"
        ><i class="fa-solid fa-house-user"></i> Inicio
      </a>
      <a
        routerLink="list-asignaturas"
        class="list-group-item list-group-item-action fw-bold"
        ><i class="fa-solid fa-book"></i> Mis Asignaturas</a
      >
      <a
        routerLink="asignatura-semestre"
        class="list-group-item list-group-item-action fw-bold"
        ><i class="fa-solid fa-book-open-reader"></i> Asignaturas por Semestre</a
      >
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
      <div class="d-flex align-items-center">
        <i
          class="fas fa-align-left primary-text fs-4 me-3"
          id="menu-toggle"
        ></i>
        <h2 class="fs-2 m-0">I.E Los Mira Flores</h2>
      </div>
      <!-- Navegación -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle second-text fw-bold active"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fas fa-user me-2"></i
              ><span *ngIf="user != null; else usuario">{{ user }}</span>
              <ng-template #usuario>Usuario</ng-template>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a
                  class="dropdown-item"
                  href="#"
                  data-bs-toggle="modal"
                  data-bs-target="#informationalumno"
                  >Mi Información</a
                >
              </li>
              <li style="cursor: pointer">
                <a class="dropdown-item" (click)="logout()">
                  <i class="fas fa-power-off text-danger"></i> Logout</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid px-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- Modal para actualizar la información del usuario -->
<div
  class="modal fade"
  id="informationalumno"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title fs-1" id="staticBackdropLabel">
          Mi información
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="actualizarUsuario()">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Documento</mat-label>
            <input
              required
              name="id"
              [(ngModel)]="alumno.id"
              matInput
              placeholder="Digite su nombre de usuario"
              disabled="true"
            />
          </mat-form-field>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input
              required
              name="nombre"
              [(ngModel)]="alumno.nombre"
              matInput
              placeholder="Digite su contraseña"
              disabled="true"
            />
          </mat-form-field>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Apellido</mat-label>
            <input
              required
              name="apellido"
              [(ngModel)]="alumno.apellido"
              matInput
              placeholder="Digite su nombre de usuario"
              disabled="true"
            />
          </mat-form-field>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Correo</mat-label>
            <input
              required
              name="email"
              [(ngModel)]="alumno.email"
              matInput
              placeholder="Digite su contraseña"
            />
          </mat-form-field>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Telefono</mat-label>
            <input
              required
              name="telefono"
              [(ngModel)]="alumno.telefono"
              matInput
              placeholder="Digite su nombre de usuario"
            />
          </mat-form-field>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Direccion</mat-label>
            <input
              required
              name="direccion"
              [(ngModel)]="alumno.direccion"
              matInput
              placeholder="Digite su nombre de usuario"
            />
          </mat-form-field>
          <br /><br />
          <div class="container text-center">
            <button type="submit" mat-raised-button color="primary">
              Enviar
            </button>
            <button
              type="button"
              style="margin-left: 20px"
              mat-raised-button
              color="accent"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
