<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row mt20">
      <div class="col-md-6 offset-md-3">
        <mat-card>
          <div class="container text-center">
            <img src="./assets/login.png" width="100" height="100">
          </div>
          <h1 class="text-center">Restablecer la contraseña</h1>
          <form (ngSubmit)="formSubmit()">
            <mat-form-field *ngIf="!showPassword"  class="full-width" appearance="outline">
              <mat-label>Correo del usuario</mat-label>
              <input required  name="username" [(ngModel)]="user.usernameOrEmail" matInput placeholder="Digite su nombre de usuario" />
              <mat-hint>El nombre de usuario debe ser valido</mat-hint>
            </mat-form-field>
            <mat-form-field *ngIf="showPassword"  class="full-width" appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input required name="password" [(ngModel)]="user.password" type="password" matInput placeholder="Digite su contraseña" />
              <mat-hint>La contraseña debe ser valido</mat-hint>
            </mat-form-field>
            <br><br>
            <div class="container text-center">
              <button mat-raised-button color="primary" *ngIf="!showPassword" (click)="buscarUsuario(user.usernameOrEmail)">Enviar</button>
              <button mat-raised-button color="primary" *ngIf="showPassword" (click)="actualizarPassword()">Cambiar contraseña</button>
              <button  style="margin-left: 20px;" mat-raised-button color="accent" routerLink="/auth">Iniciar Sesión</button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>