<div class="conteiner-fluid mt-5">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-center">
        <h1 class="text-center">
          Bienvenid@
          <span>
            <b>{{ user }}</b>
          </span>
          a el panel del Administrador
        </h1>
      </div>
      <div class="container w-50 mt-5">
        <div class="card">
          <div class="card-header text">
            <h3 class="fs-4">
              Con este usuario podrás agregar grados, crear más usuario para la
              Institución, ya sean alumnos mediante la matrícula u otros
              administradores para el sistema; a los grados les podrá agregar
              materias, las cuales también podrá modificar y en su defecto
              eliminar.
            </h3>
          </div>
        </div>
        <h6 class="fs-4 text-center mt-5 pt-5">
          ¡Espero disfrutes nuestro sistema!
        </h6>
      </div>
    </div>
  </div>
</div>

