<div class="conteiner-fluid mt-5">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-center">
        <h1 class="text-center">
          Bienvenid@
          <span>
            <b>{{ user }}</b>
          </span>
          a el panel del alumno
        </h1>
      </div>
      <div class="container w-50 mt-5">
        <div class="card">
          <div class="card-header text">
            <h3 class="fs-4">
              Con este usuario podrás revisar las asignaturas que debe de tomar en
              el transcurso de la carrera, y también podrá escoger las asignaturas que
              va a estudiar en cada uno de los semestres
            </h3>
          </div>
        </div>
        <h6 class="fs-4 text-center mt-5 pt-5">
          ¡Espero disfrutes nuestro sistema!
        </h6>
      </div>
    </div>
  </div>
</div>
